.absensi-wrapper {
  display: flex;
  min-height: 100vh;
  background: #faf9fb;
  flex-direction: row;
}

.absensi-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem; /* ikuti Riwayat Absen */
  padding-bottom: 100px;
  overflow-y: auto;
  height: 100vh;
  box-sizing: border-box;
}

.absensi-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: flex-start;
}

.absensi-top {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 1rem;
}

.absensi-title {
  font-size: 20px;
  color: #7c4dff;
  text-align: left;
  width: 100%;
  margin-bottom: 1rem;
}

.absensi-form {
  background: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.06);
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: #333;
}

.form-group input,
.form-group select {
  padding: 0.6rem 1rem;
  border-radius: 0.75rem;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #333;
  outline: none;
  transition: border 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #7c4dff;
}

.input-error {
  border: 2px solid red !important;
}

.lokasi-input-wrapper {
  position: relative;
  max-width: 100%;
}

.lokasi-input-wrapper input {
  width: 100%;
  padding-right: 3.5rem;
  box-sizing: border-box;
}

.lokasi-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: #1d9744;
  color: white;
  border: none;
  border-radius: 0 0.75rem 0.75rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.8rem;
  transition: background 0.2s;
}

.lokasi-btn:hover {
  background: #077329;
}

.submit-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.distance-out,
.distance-ok {
  font-size: 13px;
  margin: 0;
  color: #555;
}

.submit-row button {
  background: #7c4dff;
  color: white;
  padding: 0.65rem 1.3rem;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  transition: background 0.2s;
}

.submit-row button:hover {
  background: rgb(46, 23, 114);
}

/* Responsive */
@media (max-width: 768px) {
  .absensi-main {
    padding-bottom: 80px;
  }
  .absensi-title {
    font-size: 1rem;
  }

  .form-group label, .form-group select, .form-group option{
    font-size: 13px;
  }
  .form-group .lokasi-input-wrapper input {
    font-size: 13px;
  }

  .distance-out,
  .distance-ok {
    font-size: 12px;
  }
  .submit-row button {
    font-size: 0.6rem;
  }
}
